build/
obj/
bin/*
!bin/data/
*.o
*.app/
*.DS_Store
/Dev
*.svn

#XCode
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
# XCode 4
xcuserdata
*.xcworkspace

#Code::Blocks
*.depend
*.layout

#Visual Studio
*.sdf
*.opensdf
*.opendb
*.suo
*.exp
ipch/


###################
*.com
*.class
*.dll
*.exe
*.o
*.app
